<div class="wrapper-light-grey">
  <div class="container text-center">
    <div class="tabs">
      <a class="tab active" data-target="#profile">
        <h3>My profile</h3>
      </a>
      <a class="tab" data-target="#my-bookings">
        <h3>They booked <span style="color:#EE5F5B">my</span> products</h3>
      </a>
      <a class="tab" data-target="#my-rentals">
        <h3>I booked <span style="color:#EE5F5B">their</span> products</h3>
      </a>
      <a class="tab" data-target="#my-camera-offer">
        <h3>My Equipment</h3>
      </a>
    </div>
  </div>



  <div class="container text-center">
    <div class="tab-content unstyled-list" id="profile">
      <h2> My details </h2><br><br>
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="profile-avatar" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
            <% if current_user.photo? %>
              url(<%= cl_image_path current_user.photo.path, height: 300, width: 400, crop: :fill %>)
            <% else %>
              url(<%= cl_image_path "#", height: 300, width: 400, crop: :fill %>)
            <% end %>
          ">
          </div>
        </div>
          <div class="col-md-5">
        <div class="card-contact">
          <ul class="list-unstyled text-left">
            <li><p><i class="fa fa-user" aria-hidden="true"></i> <%= @user.first_name %> <%= @user.last_name %></p></li>
            <li><p><i class="fa fa-phone" aria-hidden="true"></i> <%= @user.phone_number %></li>
            <li><p><i class="fa fa-home" aria-hidden="true"></i> <%= @user.address %></p></li>
            <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @user.email %></p></li>
          </ul>
        </div>

        <div class="card-contact">
          <ul class="list-unstyled text-left">
            <li><p><i class="fa fa-book" aria-hidden="true"></i> My stats (average acceptance):</p></li>
            <li>As an owner : <%= @user.stats_as_owner %> </li>
            <li>As a renter  : <%= @user.stats_as_renter %> </li>
          </ul>
        </div>

        <div class="card-website">
          <ul class="list-unstyled text-left">
            <li><p><i class="fa fa-feed" aria-hidden="true"></i> Website: www.filmatos.com</p> </li>
          </ul>
        </div>
        </div>
      </div>
    </div>



<div class="container text-center">
  <div class="hidden tab-content" id="my-bookings">
  <h2> They booked my products </h2><br><br>
  <% @user.cameras.each do |camera| %>
    <% if camera.bookings.first %>
      <% camera.bookings.each do |booking| %>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-booked-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.camera.photo.path %>)">
          <div class="card-brand"><p><%= booking.camera.brand %></p></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-contact">
            <p>
              <strong>Status</strong>:
              <% if booking.status == 'pending' %>
                <%= booking.status.capitalize %><br>
                <button type="button" class="btn btn-success accept-buttons"><%= link_to "Accept", camera_booking_accepted_path(booking) %></button>

                <button type="button" class="btn btn-danger accept-buttons"><%= link_to "Decline", camera_booking_declined_path(booking)  %></button>
              <% else %>
                <%= booking.status.capitalize %>
              <% end %>
             </p>
            <p> <strong>Start date:</strong> <%= booking.start_date %> | <strong>End date:</strong> <%= booking.end_date %> </p>
            <p><strong>Renter</strong></p>
            <p><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
            <p><%= booking.user.address %></p>
            <p><%= booking.user.phone_number %></p>
            <p><%= booking.user.email %></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>




<div class="container text-center">
  <div class="hidden tab-content" id="my-rentals">
  <h2> I booked their products </h2><br><br>
   <% @user.bookings.each do |booking| %>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-booked-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          <% if booking.camera && booking.camera.photo? %>
            url(<%= cl_image_path booking.camera.photo.path, height: 300, width: 400, crop: :fill %>)
          <% else %>
            url(<%= asset_url 'camera.jpg' %>)
          <% end %>
        ">
        <div class="card-brand"><p><%= link_to "#{booking.camera.brand}", camera_path(booking.camera) %></p></div>



        </div>
      </div>
      <div class="col-md-6">
        <div class="card-contact">
          <p><strong>Status</strong>: <%= booking.status.capitalize %> </p>
         <p><strong>Start date:</strong> <%= booking.start_date %> | <strong>End date:</strong> <%= booking.end_date %></p>
          <p><strong>Owner</strong> </p>
          <p><%= booking.camera.user.first_name.capitalize %> <%= booking.camera.user.last_name.capitalize %></p>
          <p><%= booking.camera.user.address %></p>
          <p><%= booking.camera.user.phone_number %></p>
          <p><%= booking.camera.user.email %></p>
          </p>
        </div>
      </div>
    </div>
   <% end %>
  </div>
</div>



<div class="container">
  <div class="hidden tab-content" id="my-camera-offer">
    <h2> My Equipment </h2>
    <div class="row">
      <% @user.cameras.each do |camera| %>
       <div class="col-xs-12 col-md-3">
        <div class="padded">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          <% if camera.photo? %>
            url(<%= cl_image_path camera.photo.path, height: 300, width: 400, crop: :fill %>)
          <% else %>
            url(<%= asset_url 'camera.jpg' %>)
          <% end %>
        ">
          <div class="card-brand"><p><%= link_to "Brand : #{camera.brand}", camera_path(camera) %> </p></div>

          <div class="card-category"><p><%= camera.category %></p></div>
          <div class="card-price"><p> Price: <%= camera.price %>€/day</p></div>
        </div>
        <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, user_camera_path(current_user, camera), :anchor => "my-camera-offer", method: :delete, data: { confirm: "Are you sure to delete this camera?" }%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

</div>

