
<div class="container text-center">
  <div class="tabs">
    <a class="tab active" data-target="#profile">
      <h3>My profile</h3>
    </a>
    <a class="tab" data-target="#my-bookings">
      <h3>They booked <span style="color:#EE5F5B">my</span> products</h3>
    </a>
    <a class="tab" data-target="#my-rentals">
      <h3>I booked <span style="color:#EE5F5B">their</span> products</h3>
    </a>
    <a class="tab" data-target="#my-camera-offer">
      <h3>My Equipment</h3>
    </a>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content unstyled-list" id="profile">
    <h2> My details </h2>
    <div class="row">
      <div class="col-md-7">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2) 50%),
          <% if current_user.photo? %>
            url(<%= cl_image_path current_user.photo.path, height: 300, width: 400, crop: :fill %>)
          <% else %>
            url(<%= cl_image_path "#", height: 300, width: 400, crop: :fill %>)
          <% end %>
        ">
        </div>
      </div>
      <div class="col-md-5">
      <ul class="list-unstyled text-left">
        <li><p><%= @user.first_name %></p></li>
        <li><p><%= @user.last_name %></p></li>
        <li><p><i class="fa fa-phone" aria-hidden="true"></i> <%= @user.phone_number %></li>
        <li><p><i class="fa fa-home" aria-hidden="true"></i> <%= @user.address %></p></li>
        <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @user.email %></p></li>
      </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="profile-content padded">
          <p>My stats (average acceptance):</p>
          <ul>
            <li>As an owner : <%= @user.stats_as_owner %> </li>
            <li>As a renter : <%= @user.stats_as_renter %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>








  <div class="container">
    <div class="tab-content" id="my-bookings">
    <h2> They booked my products </h2>
    <ol>
      <% @user.cameras.each do |camera| %>
        <% if camera.bookings.first %>
          <li>
            <h3> <%= camera.brand %></h3>
            <ul>
              <% camera.bookings.each do |booking| %>
                <li>
                   <p> Camera brand: <%= booking.camera.brand %> - See the product</p>
                   <p> Start date: <%= booking.start_date %></p>
                   <p> End date: <%= booking.end_date %></p>
                   <p>
                      Status:
                      <% if booking.status == 'pending' %>
                        <%= booking.status %> -
                        <%= link_to "Accept", camera_booking_accepted_path(booking) %>
                        |
                        <%= link_to "Decline", camera_booking_declined_path(booking)  %>
                      <% else %>
                        <%= booking.status %>
                      <% end %>
                   </p>
                   <p>
                    The renter is:
                    <%= booking.user.first_name %>
                    - <%= booking.user.last_name %>
                    - <%= booking.user.address %>
                    - <%= booking.user.phone_number %>
                    - <%= booking.user.email %>
                   </p>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ol>
    </div>
  </div>

  <div class="container">
    <div class="tab-content" id="my-rentals">
    <h2> I booked their products </h2>
    <ol>
     <% @user.bookings.each do |booking| %>
     <li>
       <p> Camera brand: <%= booking.camera.brand %> - See the product</p>
       <p> Start date: <%= booking.start_date %></p>
       <p> End date: <%= booking.end_date %></p>
       <p> Status: <%= booking.status %> </p>
       <p>
        The owner is:
        <%= booking.camera.user.first_name %>
        - <%= booking.camera.user.last_name %>
        - <%= booking.camera.user.address %>
        - <%= booking.camera.user.phone_number %>
        - <%= booking.camera.user.email %>
       </p>
     </li>
     <% end %>
    </ol>
    </div>
  </div>

  <div class="container">
    <div class="tab-content" id="my-camera-offer">
      <h2> My Equipment </h2>
      <div class="row">
        <% @user.cameras.each do |camera| %>
         <div class="col-xs-12 col-md-3">
          <div class="padded">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'camera.jpg' %>)">
            <div class="card-brand"><p> Brand: <%= camera.brand %></p></div>
            <div class="card-category"><p><%= camera.category %></p></div>
            <div class="card-price"><p> Price: <%= camera.price %>€/day</p></div>
          </div>
          <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, user_camera_path(current_user, camera), method: :delete, data: { confirm: "Are you sure to delete this camera?" }%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

