

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>FILMATOS</h1>
    <p>Find all your cameras around you</p>
    <!-- Beginning of filter bar -->
      <br>
      <div class="form">
      <%= form_tag cameras_path, :method => :get do %>
        <%= text_field_tag :query_one %>
        <%= submit_tag 'Search for it!', class: "btn btn-danger" %>
      <% end %>
      </div>
    <!-- End of filter bar -->
    <div class="btn-group">
      <%= link_to "Add a new camera", new_camera_path %><br />
    </div>

  </div>
</div>

