<div class="container text-center padded">

  <!-- Beginning of filter bar -->
    <br>
    <%= form_tag cameras_path, :method => :get do %>
      <label for="description">Description</label>
      <%= text_field_tag :query_one, params[:query_one] %>
      <label for="brand">Brand</label>
      <%= text_field_tag :query_two, params[:query_two] %>
      <!-- <label for="cagegory">Category</label> -->
     <!--  text_field_tag :query_three, params[:query_three] -->
      <label for="price">Price range</label>
      <%= text_field_tag :query_four, params[:query_four] %>
      <%= submit_tag 'Search for it!', class: "btn btn-danger" %>
    <% end %>
</div>
  <!-- End of filter bar -->
<div class="wrapper">
  <div class="container text-center">
  <h1> See results </h1>
    <div class="row">
    <% @cameras.each do |camera| %>
    <div class="col-xs-12 col-md-3">
      <div class="padded">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'camera.jpg' %>);">
          <div class="card-category"><p><%= camera.category %></p></div>
          <div class="card-brand"><p><%= camera.brand %></p></div>
          <div class="card-price"><p><%= camera.price %>€ per day</p></div>
          <a class="card-link" href="<%=camera_path(camera)%>" ></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>








