<div class="container">

  <!-- Beginning of filter bar -->
    <br>
    <%= form_tag cameras_path, :method => :get do %>
      <label for="brand">Brand</label>
      <%= text_field_tag :brand, params[:brand] %>
      <label for="category">Category</label>
      <%= text_field_tag :category, params[:category] %>
      <!-- <label for="cagegory">Category</label> -->
     <!--  text_field_tag :query_three, params[:query_three] -->
      <label for="price_min">Minimum price</label>
      <%= text_field_tag :price_min, params[:price_min] %>
      <label for="price_max">Maximum price</label>
      <%= text_field_tag :price_max, params[:price_max] %>
      <label for="description">Description</label>
      <%= text_field_tag :description, params[:description] %>
      <%= submit_tag 'Search for it!', class: "btn btn-danger" %>
    <% end %>
  <!-- End of filter bar -->
  <h1> See all cameras </h1>
  <ul>
    <% @cameras.each do |camera| %>
    <li>
      <%= camera.category %> - <%= camera.brand %> - <%= camera.description %> - <%= camera.price %>€ /per day - <%= link_to 'See details', camera_path(camera) %>.
    </li>
    <% end %>
  </ul>
</div>





