<div class="container new_camera" >
  <h1> Add a new camera </h1>
  <h3>and start renting it now with Filmatos </h3>
  <%= simple_form_for([@user, @camera]) do |f| %>
    <%= f.input :category, collection: @categories, include_blank: false %>
    <%= f.input :brand, collection: @brands, include_blank: false %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>

