<h1> Check this item </h1>
<ul>
  <li>
    Category: <%= @camera.category %>
  </li>
  <li>
    Brand: <%= @camera.brand %>
  </li>
  <li>
    Description: <%= @camera.description %>
  </li>
  <li>
    Price (€/day): <%= @camera.price %>€
  </li>
  <li>
    Owner's email: <%= @camera.user.email %>
  </li>

</ul>
