<div class="wrapper">
  <div class="container">
  <h1> Check this item </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="padded-top">
          <% if @camera.photo? %>
            <%= cl_image_tag @camera.photo.path, width: 700, height: 400, crop: :fill %>
          <% else %>
            <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'camera.jpg' %>);">
            </div>
          <% end %>
        </div>
        <div class="card-stats">
          <div class="stats-reviews list-inline">
            <ul>
              <p>
                <% if @camera.reviews.count == 0 %>
                  <% mean = 0 %>
                <% else %>
                  <% sum = 0 %>
                  <% @camera.reviews.each do |review| %>
                    <% sum += review.rating %>
                  <% end %>
                  <% mean = sum / @camera.reviews.count %>
                <% end %>
                Average rating:
                <span>
                  <% empty_stars_mean = 5 - mean %>
                  <% mean.times do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: #FF0000"></i>
                  <% end %>
                  <% empty_stars_mean.times do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: #E6E6E6"></i>
                  <% end %>
                </span>
                (<%= @camera.reviews.count %>)
              </p>
            </ul>
          </div>
          <div class="stats-name">
            <h3><%= @camera.brand %></h3>
          </div>
          <div class="stats-share list-inline">
            <ul class="list-inline">
              <li>
                <i class="fa fa-retweet" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-share" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-5">
        <div class="padded text-center">
          <div class="card-form">
            <h2>Book this item</h2>
            <h3><%= @camera.price %>€</h3>
            <p>Average price/day</p>
            <% if @booking.errors.any? %>
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
            </ul>
            <% end %>

            <%= simple_form_for([@camera, @booking]) do |f| %>
            <div class="form-padded">
              <%= f.error_notification %>
              <%= f.input :start_date, placeholder: 'From...', input_html: {class: 'form-control input-lg datepicker'}%> <br>
              <%= f.input :end_date, placeholder: 'To...', input_html: {class: 'form-control input-lg datepicker'} %> <br>
              <%= f.button :submit, class: "btn btn-danger form-control" %>
            <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="padded text-center">
          <div class="card-white">
            <p>Category: <%= @camera.category %></p>
            <p>Description: <%= @camera.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="padded text-center">
          <div class="card-white">
            <% if @camera.user.photo? %>
                <%= cl_image_tag @camera.user.photo.path, class: "show-card-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% else %>
                <div class="show-card-avatar">
                  <img src="http://lorempixel.com/50/50/people" alt="">
                </div>
              <% end %>
            <h3>Owner's details: </h3>
            <p>Full name: <%= @camera.user.first_name %><%= @camera.user.last_name %></p>
            <p>Email: <%= @camera.user.email %></p>
            <p>Average booking acceptance: <%= @camera.user.stats_as_owner %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="padded text-center">
          <div class="card-white">
            <div id="review-list">
              <!-- Beginning of review list -->

              <h3>Read all <strong><%= @camera.reviews.count %></strong> review(s)</h3>
              <ul class="list-unstyled">
                <% @camera.reviews.each do |review| %>
                <li>
                  <%= image_tag 'http://lorempixel.com/300/300/people/', {class: "avatar-large"} %>

                  <% empty_stars = 5 - review.rating %>
                  <% review.rating.times do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: #FF0000"></i>
                  <% end %>
                  <% empty_stars.times do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: #E6E6E6"></i>
                  <% end %>
                  - <%= review.content %>
                  <p style="color: #CCCCCC; font-size: 0.8em; display: inline;">
                    - posted on <%= review.created_at.strftime('%B %e at %l:%M %p') %>
                  </p>
                  <hr>
                </li>
                <% end %>
              </ul>

              <!-- End of review list
              Beginning of add-a-new-review form -->

              <h4><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> Add a review for this camera</h4>
              <%= simple_form_for([@camera, @review]) do |f| %>
                <%= f.error_notification %>
                <fieldset class="form-group">
                  <%= f.input :content, placeholder: 'Did you like it?', class: 'form-control' %>
                  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], prompt: "Choose the rating", class: 'form-control' %>
                </fieldset>
                <%= f.button :submit %>
              <% end %>
              <!-- End of add-a-new-review form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












