<div class="wrapper">
  <div class="container">
  <h1> Check this item </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="padded-top">
          <% if @camera.photo? %>
            <%= cl_image_tag @camera.photo.path, width: 700, height: 400, crop: :fill %>
          <% else %>
            <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'camera.jpg' %>);">
            </div>
          <% end %>
        </div>
        <div class="card-stats">
          <div class="stats-reviews list-inline">
            <ul>
              <i class="fa fa-star icon-full" aria-hidden="true"></i>
              <i class="fa fa-star icon-full" aria-hidden="true"></i>
              <i class="fa fa-star icon-full" aria-hidden="true"></i>
              <i class="fa fa-star-half-o icon-half" aria-hidden="true"></i>
              <i class="fa fa-star-o icon-empty" aria-hidden="true"></i>
            </ul>
          </div>
          <div class="stats-name">
            <h3><%= @camera.brand %></h3>
          </div>
          <div class="stats-share list-inline">
            <ul class="list-inline">
              <li>
                <i class="fa fa-retweet" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-share" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-5">
        <div class="padded text-center">
          <div class="card-form">
            <h2>Book this item</h2>
            <h3><%= @camera.price %>€</h3>
            <p>Average price/day</p>
            <% if @booking.errors.any? %>
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
            </ul>
            <% end %>

            <%= simple_form_for([@camera, @booking]) do |f| %>
            <div class="form-padded">
              <%= f.error_notification %>
              <%= f.input :start_date, placeholder: 'From...', input_html: {class: 'form-control input-lg datepicker'}%> <br>
              <%= f.input :end_date, placeholder: 'To...', input_html: {class: 'form-control input-lg datepicker'} %> <br>
              <%= f.button :submit, class: "btn btn-danger form-control" %>
            <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="padded text-center">
          <div class="card-white">
            <p>Category: <%= @camera.category %></p>
            <p>Description: <%= @camera.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="padded text-center">
          <div class="card-white">
            <% if @camera.user.photo? %>
                <%= cl_image_tag @camera.user.photo.path, class: "show-card-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% else %>
                <img src="http://www.placehold.it/50/50" alt="">
              <% end %>
            <h3>Owner's details: </h3>
            <p>Full name: <%= @camera.user.first_name %><%= @camera.user.last_name %></p>
            <p>Email: <%= @camera.user.email %></p>
            <p>Average booking acceptance: <%= @camera.user.stats_as_owner %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



